@font-face {
    font-family: "Roboto";
    src: url(font/Roboto-Regular.ttf) format('truetype');
}

body{
    width: auto;
    max-width: 1680px;
    margin: auto;
    font-family: 'Roboto', arial;
}

header{
    display: flex;
    justify-content: space-between;
}

#logo{
    margin-left: 100px;
    margin-top: 30px;
}

#nav_ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-right: 160px;
    margin-top: 90px;
}

.nav_li{
    margin-right: 30px;
}

#banniere_img{
    background-image: url(Images/backgroung_image.jpg);
    width: 1500px;
    margin-left: 100px;
    padding-top: 50px;
    height: 700px;
}

#banniere_logo{
    position: relative;
    margin-top: 200px;
    text-align: center;
    color: white;
}

#presentation{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 800px;
    flex-wrap: wrap;
    margin-left: 400px;
    margin-top: 40px;
}

#intro{
    margin-left: 200px;
    margin-right: 200px;
}

#skill{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 80px;
    margin-left: 80px;
    margin-top: 30px;
    padding-right: 50px;
}

article h2{
    text-transform: uppercase;
    font-weight: normal;
}

#skill p{
    font-size: small;
}

#temoignage{
    margin-top: 30px;
    padding-left: 170px;
    padding-right: 170px;
}

footer{
    background-color: rgb(97, 9, 197);
    margin: 0px 80px 30px 80px;
}

#copyright{
    display: flex;
    justify-content: center;
    color: white;
}

footer h2{
    font-weight: normal;
    font-size: 1em;
}

#reseaux_sociaux{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin: 0px 500px 0px 500px;
    color: rgb(185, 139, 206);
}

#footer{
    display: flex;
    justify-content: space-around;
}

h3{
    color: rgb(185, 139, 206);
}

.colonne{
    color: whitesmoke;
}

.colonne p{
    padding-left: 20px;
}