@font-face {
    font-family: "Roboto";
    src: url(font/Roboto-Regular.ttf) format('truetype');
}

body{
    width: auto;
    max-width: 1680px;
    margin: auto;
    font-family: 'Roboto', arial;
}

header{
    display: flex;
    justify-content: space-between;
}

#logo{
    margin-left: 100px;
    margin-top: 30px;
}

#nav_ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-right: 160px;
    margin-top: 90px;
}

.nav_li{
    margin-right: 30px;
}

#banniere_img{
    background-image: url(Images/backgroung_image.jpg);
    position: absolute;
    width: 1500px;
    margin-left: 100px;
    padding-top: 50px;
    height: 700px;
}

#banniere_logo{
    position: relative;
    margin-top: 200px;
    text-align: center;
    color: white;
}